div:hover{
  border: 1px solid black;

}

div:nth-child(3){
  background-color: yellow;
} 
 
div:nth-child(4) {
  background-color: orange;
}

div:nth-child(5) {
  background-color: greenyellow;
  height: 50px;
}

div:nth-child(6) {
  background-color: brown;
}

div:nth-child(7) {
  background-color: wheat;
}

 div:nth-child(3) > h3 {
  font-size: 25px;
 
}

div:nth-child(4) > h3 {
  font-style: italic;
}

div:nth-child(5) > h3 {
  color: red;
}

div:nth-child(6) > h3 {
  color: aliceblue;
  font: 35px;
}

div:nth-child(7) > h3 {
  font-style: oblique;
}